* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Acme', sans-serif;
}

h1 {
	margin: 0.75rem;
}

main {
	margin: 0.5rem;
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

p {
	margin: 1rem;
}

.datatable {
	width: 200px;
	margin-top: 2rem;
}

.row {
	display: grid;
	grid-template-columns: 100px 100px;
	align-items: center;
	text-align: center;
}

.col {
	padding: 0.5rem;
}
