/* Base Reset and Defaults */
:root {
  --primary-color: #1e90ff;
  --bg-color: #ffffff;
  --text-color: #333333;
  --dark-bg: #121212;
  --dark-text: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  padding-top: 0.5px;
  padding-bottom: 1px;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 1rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar img {
  width: 100%;
  max-width: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--bg-color);
}

a:hover {
  color: var(--dark-bg);
  background-color: var(--bg-color);
}

#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--bg-color);
}

#menu-toggle:hover {
  color: var(--dark-bg);
  background-color: var(--bg-color);
}

.hero {
  text-align: center;
  margin-top: 2rem;
}

#themeToggle {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#themeToggle:hover {
  color: var(--dark-bg);
  background-color: var(--bg-color);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid var(--bg-color);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-color);
}

.socialmedia {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  gap: 30px;
}

Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.welcome-note {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  max-width: 70%;
  
}

.welcome-note img {
  width: 100%;
  max-width: 20%;
  border: 2px solid var(--primary-color);
  border-radius: 7px;
}

.welcome-note p {
  text-align: justify;
}

.contact-form button {
  background: var(--primary-color);
  color: var(--bg-color);
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--text-color);
}

.contact-form button:hover {
  color: var(--dark-bg);
  background-color: var(--bg-color);
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 3px solid var(--text-color);
}

input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 3px solid var(--text-color);
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 3px solid var(--text-color);
}