/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--primary-color);
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  #menu-toggle {
    display: block;
  }

  .welcome-note img {
    width: 100%;
    max-width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
  }
  .welcome-note {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 70%;
  }
  
  textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 3px solid #333333;
}
}

/* Dark Theme */
body.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body.dark .card {
  background-color: #1e1e1e;
  color: var(--dark-text);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  /*loading: lazy;*/
}

.welcome-note p {
  text-align: justify;
}