body {
  font-family: 'Segoe UI', sans-serif;
  background: #f3f0f5;
  color: #2c1e34;
  margin: 0;
  padding: 0;
}

main {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #e6dced;
  border-radius: 10px;
}

h1, p {
  text-align: center;
  margin-top: 0.09rem;
  max-width: 525px;
  margin: 2rem auto;
  padding: 0.7rem;
}

footer {
  text-align: center;
  padding: 5px;
  background: blueviolet;
  color: white;
  font-size: 0.85rem;
  max-width: 520px;
  margin: 10rem auto;
  border-radius: 3px;
}